<!--Input edited bug title-->
<div>
    <h3>Bug Title:</h3>
    <input type="text" class="form-control-lg" id="edit-bug-title" placeholder="@bug.Title"/>
</div>

<!--Not changeable: BugId, BugDateCreated-->
<div class="div1">
    <p>Bug ID: @bug.Id</p>
    <p>Date Created: @bug.DateCreated</p>
</div>

<!--Input edited bug hours remaining-->
<div>
    <label for="edit-hours-remaining">Hours Remaining</label>
    <input type="text" class="form-control-sm" id="edit-hours-remaining" placeholder="@bug.HoursRemaining" />
</div>

<!--Input edited bug description-->
<div>
    <label for="edit-bug-description">Bug Description</label>
    <textarea type="text" class="form-control" id="edit-bug-description" rows="10" placeholder="@bug.Description"/>
</div>

<!--Update Button-->
<button class="btn btn-info">Update</button>

@code {

}
