@page "/backlog"
@inject IModalService modal

<h1>Backlog</h1>

<p>Showing all bugs. Use the "Add New Bug" button to add a new bug.</p>

<!-- Button that opens modal to create new bug -->
<button @onclick="@(async () => await ShowModal())" class="btn btn-primary">Add New Bug</button>

@if (bugs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <!-- table headings -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Hours Remaining</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <!-- table body -->
        <tbody>
            @foreach (var bug in bugs)
            {
                <tr @onclick="@(()=>ShowEditBug(bug))">
                    <td>@bug.Id</td>
                    <td>@bug.Title</td>
                    <td>@bug.Description</td>
                    <td>@bug.HoursRemaining</td>
                    <td>@bug.DateCreated</td>
                </tr>
            }
        </tbody>
    </table>
}



